<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="0;url=demo/" />
    <title><%- name %></title>
    <%_ if (polytempl === 'polymer-2-application:app') { %>
      <meta name="description" content="<%- desc %>"/>

      <!-- See https://goo.gl/OOhYW5 -->
      <link rel="manifest" href="manifest.json"/>
      <script src="bower_components/webcomponentsjs/webcomponents-loader.js"/></script>

      <link rel="import" href="src/<%= name %>/<%= name %>.html">
    <% } _%>
  </head>
  <body>
    <%_ if (polytempl === 'polymer-2-application:app') { %>
      <<%= name %>></<%= name %>>
    <% } else { %>
    <!--
        ELEMENT API DOCUMENTATION SUPPORT COMING SOON
        Visit demo/index.html to see live examples of your element running.
        This page will automatically redirect you there when run in the browser
        with `polymer serve`.
      -->
    <% } _%>
  </body>
</html>
