/* Application styles could go here */

<% if (apptype == 'plain'){ %>
  footer .poweredby {
                               width: 120px;
                               height: 56px;
                               margin-bottom: 10px;
                               display: inline-block;
                               background-size: 100% 100%;}
  footer .poweredby img { width: 120px; }<% } else{ %><% } %>
