<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title"><%- title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist-2.2.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="resources/scripts/jquery.min.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/scripts/loadsource.js"/>
    </head>
    <body id="grey-top">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href="/" id="logo">eXistDB</a>
                    </div>
                </div>
                <div class="row">
                    <nav class="navbar navbar-default" role="navigation">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                        </button>
                        <div class="navbar-collapse collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown" id="about">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="index.html">Home</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <%_ if (mysec) { %>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="../">Hello  <span data-template="app:username"/>
                                    </a>
                                </li>
                                <li>
                                    <div data-template="app:if-attribute-set" data-template-attribute="org.exist-db.mysec.user">
                                        <a href="index.html?logout=true" class="btn btn-default">×</a>
                                    </div>
                                    <div data-template="app:if-attribute-unset" data-template-attribute="org.exist-db.mysec.user">
                                        <a data-toggle="modal" href="#loginModal" class="btn btn-default">Login</a>
                                    </div>
                                </li>
                                <li>
                                </li>
                            </ul>
                            <% } -%>
                        </div>
                    </nav>
                </div>
                <div id="content" class="row"/>
            </div>
        </div>
        <a id="poweredby" href="http://exist-db.org"/>
        <div id="footer">
            <div class="container">
                <ul>
                    <li>
                        <a href="http://exist-db.org">eXist-db.org</a>
                    </li>
                </ul>
                <div id="copyright">
                    <p>Copyright eXist-db Project 2013</p>
                </div>
            </div>
        </div>
        <%_ if (mysec) { %>
        <div data-template="templates:if-parameter-unset" data-template-param="org.exist-db.mysec.user">
            <div data-template="templates:include" data-template-path="templates/login-panel.html"/>
        </div>
        <% } -%>
    </body>
</html>
