<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1 data-template="config:app-title">Generated page</h1>
            </div>
            <div class="alert alert-success">
                <p>The page template uses the <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> CSS library for the page layout.</p>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Application Info</h2>
            <div data-template="config:app-info"/>
        </div>
    </div>
</div>