notifications:
  email: false

language: node_js

node_js:
  - "node"
  - "6"

services:
  - docker

env:
  # - img=existdb/existdb:latest
  # see https://github.com/eXist-db/docker-existdb/issues/37
  - img=existdb/existdb:release

# required if language is not java
# addons:
#   apt:
#     packages:
#       - oracle-java8-installer

cache:
  directories:
    - "node_modules"

before_install:
  # - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  - docker pull $img
  - docker create  --name exist-ci -p 8080:8080 $img
  - npm prune

install:
  - npm install -q
  - ant

before_script:
  - docker cp ./build/*-dev.xar exist-ci:exist/autodeploy
  - docker start exist-ci
  # exist needs time
  - sleep 30

script:
  - npm test
  # - ant test

after_success:
  - docker ps
